#header-main
  background: url("../img/heroBanner-blue.svg") no-repeat
  background-size: cover
  height: 950px
  color: white
  text-align: left

  article
    width: 80%
    margin: 50px auto
    display: flex

  .article-img

    img
      float: right
      width: 90%
      margin: 50px auto

  h1
    color: white
    background: linear-gradient(to left, rgba(233,80,172,1), rgba(255,202,42,1))
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    filter: drop-shadow(6px 6px #053B5F)
    //filter: drop-shadow(3px 3px #fff)


  h2
    color: white

  h3
    //color: #002158
    color: white
    font-weight: 600

.main-nav
  display: flex
  margin-top: 20px
  align-items: center
  //position: fixed

  li
    // remove bullet points
    list-style: none

  li:first-child
    margin-right: auto

  a
    color: white
    display: block
    border-radius: 10px
    padding: 10px 20px
    text-decoration: none
    font-weight: 900
    text-transform: uppercase

  a.download
    background-image: linear-gradient(to right, rgba(233,80,172,1), rgba(255,202,42,1))
    //background-color: white
    font-weight: 900
    //color: #2074ff

  a:hover
    color: #ccc

#logos
  text-align: center
  padding: 30px

  h2
    color: #858585

  ul
    margin: 10px
    padding: 30px 0
    background: white
    display: flex
    justify-content: space-evenly
    //grid-template-columns: repeat(6, auto)
    //@media only screen and (max-width: 550px)
    //  grid-template-columns: repeat(3, auto)

  li
    list-style: none

  li img
    max-height: 30px

#value-prop
  display: flex
  align-items: center
  justify-content: center
  padding: 100px
  //background: #702AEB

  h3
    color: #858585

.value-prop-text
  width: 40%
  padding-left: 25px

.value-prop-image

    img
      float: right
      width: 50%
      padding-right: 20px

#testimonial
  text-align: center

  img
    width: 100%

#footer
  text-align: center
  padding: 60px 0

  li
    list-style: none
    a
      padding: 0 20px
