#download
  background: white
  padding: 100px 0
  color: white
  text-align: center

  h2
    color: black

  p
    color: #2074ff
    font-weight: 900

#download-blue
  background: #2074ff
  padding: 100px 0
  color: white
  text-align: center

  h2
    color: black

  p
    color: white
    font-weight: 900
