#header-services
  background: url("../img/heroBanner-purple.svg") no-repeat
  background-size: cover
  height: 950px
  color: white
  text-align: left

  article
    width: 90%
    margin: 90px auto
    display: flex

  .services-text
    width: 80%
    padding-left: 10px

    h3
      color: #ccc

  .services-img

    img
      float: right
      width: 90%
      margin: 30px auto
      padding-left: 70px

  h1
    color: white
    //background: linear-gradient(to right, rgba(233,80,172,1), rgba(255,202,42,1))
    //-webkit-background-clip: text
    //-webkit-text-fill-color: transparent
    //filter: drop-shadow(4px 4px #FFF)

  h3
    color: #002158
    font-weight: 600


.keyword-image

    img
      float: right
      width: 45%

.keyword-text
  max-width: 45%

#creative-services
  padding: 200px

.creative-services-image

    img
      float: right
      max-width: 50%

.creative-services-text
  max-width: 45%

.creative-services-column-text
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 40px
